@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.main-header {
    position: fixed;
    z-index: 100;
    background-color: #eac926;
    padding: 20px;
    top: 0;
}

.logo-mercado-liebre {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.hamburguer-button {
    background-color: #03264c;
    color: #fff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 15px 0px;
    font-size: 17px;    
}

form.create-form {
    padding: 20px 15px;
    text-align: center;
    margin-top: 241px;
}

div.form-control {
    margin-bottom: 15px;
}

div.form-control label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

    select.control {
        width: 100px;
        padding: 8px 8px;
    }

button.form-button {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
}

footer {
    padding: 10px;
    background-color: #03264c;
}

div.imagen-contenedora {
    position: relative;
}

div.imagen-contenedora img {
    width: 100%;
}

div.imagen-contenedora h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: azure;
    margin: 5px;
}

@media (min-width: 768px) {
    
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
    }

    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0px 5px;
    }
}

@media (min-width: 1200px) {

    .logo-mercado-liebre {
        width: 300px;
    }
    
    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
        /* border: solid olive 5px; */
    }

    .main-header-top-bar {
        padding: 12px 0px;
        align-items: center;
    }

    .copy-header {
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }

    .main-navbar li {
        margin: 0px 10px;
    }

    .main-navbar a {
        font-size: 19px;
    }
}