@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.main-header {
    background-color: #eac926;
    padding: 20px;
}

.logo-mercado-liebre {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.hamburguer-button {
    background-color: #03264c;
    color: #fff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 15px 0px;
    font-size: 17px;    
}

div.contenedor01 {
    width: 90vw;
    
}

div.contenedor02 {
    width: 50vw;
}

@media (max-width: 576px) {
    body {
        background-color: yellow;
    }
    
    div {
        width: 70vw;
        margin:auto;
    }
}

@media (min-width: 577px) and (max-width: 768px) {  
    body {
        background-color: white;
    }
    
    div.contenedor01 {
        width: 90vw;
        background-color: red;    
    }
    
    div.contenedor02 {
        width: 50vw;
        background-color: blue;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    
    div.contenedor01 {
        width: 90vw;
        border: solid 10px #000;   
    }
    
    div.contenedor02 {
        width: 50vw;
        border: solid 10px #000;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    
    div.contenedor01 {
        width: 90vw;
        background-color: red;
    }
    
    div.contenedor02 {
        width: 50vw;
        background-color: blue;       
    }

    .contenedor01,
    .contenedor02 {
        border: solid 10px #000;
        max-width: 1100px;
    }
}
