<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="description" content="Este es el Home de la página de Mercado Liebre trabajada en las clases virtuales de DH">
		<meta name="keywords" content="Mercado, Liebre, Digital, House">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/edc0c4dc0d.js" crossorigin="anonymous"></script>
		<link rel="icon" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.5/mercadolibre/favicon.svg" type="image/png">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img class="logo-mercado-liebre" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                    <li><a href="#">Ingresá</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form class="create-form" action="/crear-producto" method="POST">
                <div class="form-control">
                    <label for="product-name">Nombre del producto:</label>
                    <input name="product-name" type="text">
                </div>
                <div class="form-control">
                    <label for="product-price">Precio del producto:</label>
                    <input name="product-price" type="text">
                </div>
                <div class="form-control">
                    <label for="product-category">Categoría:</label>
                    <select class="control" name="product-category">
                        <option value="hogar">Hogar</option>
                        <option value="electro">Electrodomésticos</option>
                        <option value="indumentaria">Indumentaria</option>
                    </select>
                </div>
                <div class="form-control">
                    <label for="city-available">Ciudad:</label>
                    <select class="control" name="city-available">
                        <option value="BSAS">Buenos Aires</option>
                        <option value="ROSA">Rosario</option>
                        <option value="MEDZ">Mendoza</option>
                    </select>
                </div>
                <div class="form-control">
                    <label for="">Descripción:</label>
                    <textarea name="product-description"></textarea>
                </div>
                <div class="form-control">
                    <label for="is-promo">Está en oferta:</label>
                    <input name="is-promo" type="radio">
                </div>
                <div class="form-control">
                    <button class="form-button" name="delete" type="reset">Borrar</button>
                    <button class="form-button" name="send" type="submit">Enviar</button>
                </div>
            </form>
        </main>
        <footer>
            <div class="imagen-contenedora">
                <img src="/images/adwIcon.png" alt="Imagen contenedora">
                <h2>Adventure Works</h2>
            </div>
        </footer>
    </body>
</html>