<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/normalize.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Nueva Página</title>
    </head>
    <body>
        <div class="volver">
            <a href=".">Volver a Home</a>
        </div>
        <div class="contenedor01">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptates in repellendus minima adipisci laudantium labore illum quam magnam molestias, eligendi cumque, nisi dicta, nesciunt quo dignissimos blanditiis eos hic.
            </p>
        </div>
        <div class="contenedor02">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptates in repellendus minima adipisci laudantium labore illum quam magnam molestias, eligendi cumque, nisi dicta, nesciunt quo dignissimos blanditiis eos hic.
            </p>
        </div>
    </body>
</html>